{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>User Registration</title>
</head>
<body>
  <link rel="stylesheet"  href="{% static 'sign-up.css' %}">
  <h1>User Registration</h1>
  <div class="container">
    <form action="/helpdesk/sign-up/" method="post">
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
      </div>
      <div class="form-group">
        <label for="email">Gmail ID:</label>
        <input type="email" id="email" name="email" required>
      </div>
      <div class="form-group">
        <label for="mobile">Mobile No:</label>
        <input type="tel" id="mobile" name="mobile" required>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <span class="icon"><i class='bx bxs-lock-alt'></i></span>
        <input type="password" id="password" name="password" required>
      </div>
      <div class="form-group">
        <label for="confirm-password">Confirm Password:</label>
        <span class="icon"><i class='bx bxs-lock-alt'></i></span>
        <input type="password" id="confirm-password" name="confirm-password" required>
      </div>
      <div class="form-group">
        <input type="submit" value="Submit">
      </div>
    </form>
  </div>
</body>
</html>
